/* Full Page Gradient Animation Background */
body, html {
  height: 100%;
  margin: 0;
}

.detector-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px;
font-size: 40px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(-45deg, #d9dce1, #126a3e, #628d93, #2575fc);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  color: #fff;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.file-input {
  padding: 10px;
  border-radius: 8px;
  border:#2575fc;
  font-size: 1rem;
}

.detect-button {
  background-color: #072d14;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detect-button:hover {
  background-color: #33ae42;
}

.loading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.result-card {
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  background: rgb(220, 228, 220);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  text-align: center;
  backdrop-filter: blur(10px);
  color: #072d14;
}

.result-card h3 {
  margin-bottom: 15px;
  color: #072d14;
  font-size: 40px ;
 
}

.result-card p {
  margin: 8px 0;
  font-size: 20px;
}

